body{
    margin: 0;
    font-family: helvetica;
}


section{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:2rem;
}
.other{
    display: flex;
    gap: 2rem;
}
div:not(.other){
    width: 50px;
    text-align: center;
    color: #fff;
    aspect-ratio: 1/1;
    box-shadow: 0px 9px 0px 9px #656565;;
    background-color: #3d3b3b;
    transition: 200ms ease-in-out;
    border-radius: 12px;
}
.pressed{
    background-color: #212121!important;
    transform: translateY(3px);
}