body {
  margin: 0;
  height: 100vh;
  background-color: #323232;
}
section {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
p {
  font-size: 2rem;
}
.show-case {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.small-images {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.small-images img {
  width: 200px;
}
.selected {
  border: 5px solid red;
}

p {
  color: white;
}
