* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  width: 100%;
  display: flex;
  /* perfect center */
  justify-content: center;
  align-items: center;
}

main {
  width: 25%;
  height: 45%;
  background-color: #e4e4e4;
  display: flex;
  flex-direction: column;
}
section {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  justify-content: space-evenly;
}
h1 {
  padding: 1rem 0.5rem;
}
section button {
  width: 40%;
  border: none;
  border-radius: 0.5rem;
  background-color: #357dd0;
  color: white;
  padding: 1rem 2rem;
  margin: 0.25rem;
}
