body{
    height: 100vh;
    box-sizing: border-box;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.main-box{
    background-color: aqua;
    height: 80vh;
    aspect-ratio: 1/1;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 4px;
}
.main-box div{
    width: 24%;
    aspect-ratio: 1/1;
    border-radius: 1rem;
    background-color: blue;
}
.score{
    position: fixed;
    bottom: 4rem;
    left: 4rem;
    width: 8rem;
    height: 4rem;
    background-color: bisque;
}