body{
    margin: 0;
    position: relative;
}
*{
    box-sizing: border-box;
}
.content{
    height: 50vh;
}
header{
    position: fixed;
    top: 0;
    width: 100%;
    height: 15vh;
    background-color: #dddbdb;
    color: black;
    display: flex;
    align-items: center;
    padding: .5rem 2rem;
    box-shadow: 2px 2px 4px black;
    transition: 200ms ease-out;
}
a{
    text-decoration: none;
    color: gray;
}
.content:nth-child(even){
    background-color: orange;
}
.hide{
    transform: translateY(-100%);
}