body {
  padding: 0;
  margin: 0;
}
* {
  box-sizing: border-box;
}

.change {
  background-color: #f3ad5d;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: 2px solid #c07116;
  color: #fff;
}
.DisplayImage {
  width: 400px;
  height: 200px;
  border: #c07116 2px solid;
  background: #303030;
  border-radius: 1.5rem;
}
.image-box div{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
.image-box{
    text-align: center;
}

/* next HW */
.image-selector{
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.small-image{
    width: 4rem;
    height: 2.5rem;
    background: #a17272;
}
.small-image img{
    width: 100%;
}
.display{
    width: 100%;
    height: 50vh;
}