:root{
    --bg-color:#2f2f30;
    --tasks-bg:#3a3a3b;
    --input-bg:#3c3c3c;
    --btn-primary:#4c4d4e;
    --todo:#595959;
    --in-progress:#fde845;
    --done:#10ab28;
    --task-bg:#414141;
}

*{
    box-sizing: border-box;
}
body{
    padding: 1rem;
    margin: 0;
    background-color: var(--bg-color);
    color: #fff;
    font-family: monospace;
}
.tasks{
    width: 100%;
    min-height: 60vh;
    border-radius: 1.5rem;
    background-color: var(--tasks-bg);
}
.task-form{
    width: 100%;
    height:30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 1.5rem;
    background-color: var(--tasks-bg);
    color: white;
    padding: 1.75rem;
    margin-bottom: .5rem;
}

.task-form > #task-name {
    width: 50%;
    height: 15%;
    padding: 2px 8px;
    border-radius: 1rem;
    background-color:var(--input-bg) ;
    color: white;
}

.task-form > button {
    width: 10%;
    height: 20%;
    background-color:var(--btn-primary) ;
    color: white;
    border-radius: 1rem;
}

.tasks div{
    color: white;
    font-size: 2rem;
    background-color: var(--task-bg);
    width: 45%;
    height: 4.5rem;
    border-radius: 1.2rem;
    display: flex;
    align-items: center;
    padding-left: 1.5rem ;
}