/* Vars */
:root {
  --form-bg: #f1eef0;
  --form-input-border-color: #bebebe;
  --cards-bg: #e7e7e7;
  --form-input-bg-color: #f8f8f8;
  --form-option-bg-color: #ffffff;
  --form-input-focus: #00b822;
  --btn-primary: var(--form-input-focus);
  --form-alert:#127d3c;
  --card-bg:#f5f5f5;
}
@font-face {
    font-family: custom;
    src: url(./font.woff);
}
/* Setups */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a,
button {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  border: none;
}
/* Main Styles */
body {
  height: 100vh;
  display: flex;
  gap: 2px;
  font-family: custom;
}
.form,
.cards {
  width: 50%;
  height: 100%;
}

/* Form Styles */
.form {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--form-bg);
  gap: 1rem;
  padding: 2rem;
}

.form input {
  outline: none;
  width: 70%;
  height: 6%;
  padding: 1rem;
  border: 1px solid var(--form-input-border-color);
}
.form select {
  width: 20%;
  height: 5vh;
  outline: none;
  border: 1px solid var(--form-input-border-color);
  transform: translateX(125%);
}
.form input,
select {
  background-color: var(--form-input-bg-color);
  border-radius: 0.5rem;
}
.form option {
  background-color: var(--form-option-bg-color);
}
.form input:focus-within,
select:focus-within {
  outline: var(--form-input-focus) 2px solid;
}
/* alert */
.form p{
    color: var(--form-alert);
    /* cursor: pointer; */
}
/* btn */
.form button {
  background-color: var(--btn-primary);
  width: 20%;
  height: 5%;
  border-radius: 05rem;
  color: white;
}
