*{
    box-sizing: border-box;
    font-family: helvetica;
}
body{
    margin: 0;
    background-color: #323232;
}
header{
    height: 10vh;
    background-color: #202021;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 3rem;
    margin-bottom: 1rem;
}
.cards{
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.card{
    width: 23%;
    height: 380px;
    border: none;
    border-radius: 1rem;
    display: flex;
    padding: 1rem;
    flex-direction: column;
    background-color: #21212b;
    color: white;
}
.card img{
    width: 100%;
    height: 60%;
    object-fit: contain;
}
.card-info{
    margin-bottom: 0.5rem;
}
button{
    border: none;
    outline: none;
    color:white;
    padding: 1rem 2rem;
    border-radius: .5rem;
}
.add-btn{
    background-color: #1083f6;
}
.add-btn:hover{
    background-color: #0a59a8;
}
.remove-btn{
    background-color: #e91e1e;
}
.remove-btn:hover{
    background-color: #861414;
}

.cart-status-parent{
    margin: 1.5rem;
    display: flex;
    min-height:  30vh;
    background-color: #3f3f3f; 
    color: white;
}
.cart-status{
    width: 75%;
    height: 100%;
}

.cart-info-card{
    height: 100%;
    width: 25%;
}
